.form-photo-header {
  font-weight: 600;
  font-size: 62px;
  line-height: 105%;
  text-transform: uppercase;
  color: #374054;
  font-family: "InvolveSB";
}
.form-body {
  margin-bottom: 46px;
}
.form-photo-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: #697286;
}
.form-button {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 151px;
  height: 41px;
  background: #482be7;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  gap: 20px;
  color: #fff;
  border: none;
}
.form-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: end;
  padding-top: 46px;
  position: relative;
}
.form-photo {
  margin-top: 47px;
}
.form__text {
  display: flex;
  flex-direction: column;
  gap: 29px;
}
.form-buttons {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}
.form-body-header {
  font-weight: 600;
  font-size: 22px;
  line-height: 130%;
  text-align: center;
  color: #1e0e62;
}
.form-input {
  border: 1px solid #d7e0f4;
  border-radius: 10px;
  width: 335px;
  padding: 20px 16px;
  background: #f8f9fa;
  height: 50px;
  font-weight: 500;
  font-size: 17px;
  line-height: 105%;
  color: #374054;
}
.form-input::placeholder {
  color: #afb8cc;
}
.form-input:active,
.form-input:focus {
  border: 1px solid #d7e0f4;
}
#registrationForm {
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  padding: 50px 40px;
  width: 415px;
  box-shadow: 0 4px 44px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
}
.form-body-header {
  font-weight: 600;
  font-size: 22px;
  line-height: 130%;
  text-align: center;
  color: #1e0e62;
  font-family: "InvolveSB";
}
.form-inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
}
.form-body-button {
  border-radius: 10px;
  padding: 16px 20px;
  width: 100%;
  border: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 105%;
  color: #fff;
  height: 50px;
  margin-top: 44px;
  background: #482be7;
}
.auto-auth {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #b5b5b5;
  margin-top: 40px;
}
.auth-icons {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
}
.form-img {
  position: absolute;
  bottom: -67px;
  right: 450px;
}
.form-back {
  position: absolute;
}
.form-down-mess {
  margin-top: 20px;
}
.form-main-img {
  max-height: 370px;
}
.form-token {
  position: absolute;
  left: 123px;
  top: 212px;
}

.form-login {
  position: absolute;
  left: 70px;
  top: 120px;
}
.password-container img {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 20px;
}
.password-container {
  position: relative;
}
@media (max-width: 1200px) and (min-width: 1024px) {
  .form-token,
  .form-login {
    position: absolute;
    right: 85vw;
  }
}
@media (max-width: 1024px) {
  .form-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .form__text {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form-img {
    max-width: 330px;
    position: inherit;
  }
  .form-photo {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .form-body {
    margin: 100px 0;
  }
  .form-photo-header {
    font-size: 57px;
  }
  .form-cont {
    background-size: 100% !important;
    padding-top: 0;
  }
  .form-main-img {
    display: none;
  }
  .form-login {
    display: none;
  }
}
@media (max-width: 768px) {
  .form-photo-header {
    font-size: 34px;
  }
  .form-button {
    width: 100%;
  }
  .form-down {
    width: 100%;
  }
  .form-photo-text {
    font-size: 14px;
  }
  .form-input {
    width: 100%;
  }
  #registrationForm {
    width: 100%;
    padding: 50px 20px;
  }
  .form-body-header {
    text-wrap: nowrap;
  }
  .form-token {
    display: none;
  }
}
@media (max-width: 1150px) {
  .form-token,
  .form-login {
    left: 46px !important;
  }
}
@media (max-width: 500px) {
  .container {
    padding-top: 0;
  }
  .form-buttons {
    flex-direction: column;
  }
  .form-cont {
    background-image: none !important;
  }
  .form-body {
    margin: 20px 0;
  }
}
form#registrationForm p {
  color: #697286;
}
.form-link {
  text-decoration: underline;
  color: #697286;
}
.form-link-main {
  color: #482be7;
  text-decoration: underline;
}
