.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:54px 0 34px;
}
.footer-nav {
    display: flex;
    gap:35px;
}
.line {
    width: 90%;
    background: #E3E4E7;
    height: 1px;
    margin: 0 auto;
}
.social a img {
    width: 24px;
    height: 24px;
}
.social {
    display: flex;
    gap:15px;
}
@media (max-width:850px) {
    .main-title {
        font-size:57px;
    }
    .news__content {
        width: 100%;
    }
    a.logo img {
        width: 124px;
    }
}
@media (max-width:767px) {
    .footer-container {
        flex-direction: column;
    }
    .footer-nav {
        text-align: center;
        flex-direction: column;
    }
    .footer-container:last-child {
        text-align: center;
        flex-direction: column-reverse;
        gap: 37px;
    }
    .footer-container .logo {
        margin-bottom: 52px;
    }
}