.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:65px 0 44px;
}
.footer-container span {
    color: var(--graylight);
}
.footer-container:last-child {
    margin:26px 0;
}
.footer-nav {
    display: flex;
    gap:35px;
}
.footer-nav a {
    color: var(--dark-blue);
}
.line {
    width: 90%;
    background: #E3E4E7;
    height: 1px;
    margin: 0 auto;
}
.social a img {
    width: 24px;
    height: 24px;
}
.social {
    display: flex;
    gap:15px;
}
@media (max-width:850px) {
    .main-title {
        font-size:57px;
    }
    .news__content {
        width: 100%;
    }
    a.logo img {
        width: 124px;
    }
}
@media (max-width:767px) {
    .footer-container {
        flex-direction: column;
        margin: 51px 0px 40px;
    }
    .footer-container span {
        max-width: 292px;
        font-size: 14px;
    }
    .footer-nav {
        text-align: center;
        flex-direction: column;
    }
    .footer-container:last-child {
        margin: 36px 0px 30px;
        text-align: center;
        flex-direction: column-reverse;
        gap: 37px;
    }
    .footer-container .logo {
        margin-bottom: 52px;
    }
}