.list-header {
    display: flex;
    justify-content: space-between;
    font-size:20px;
    font-weight: 'InvolveMed';
    align-items: center;
    border:none;
    background: #FAF9FF;
}
.list-header.active .list-arrow {
    fill:#482BE7;
    transform: rotate(180deg);
}
.list-header.active svg.list-arrow path {
    fill: #fff !important;
}
ol {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*::marker {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.list-arrow {
    transition: all 0.3s ease;
}
.list-arrow.active {
    transform: rotate(180deg);
    fill: #482BE7;
}
.list-arrow.active path {
    fill:#fff;
}
.info-list {
    display: flex;
    flex-direction: column;
    gap:30px;
}
.info-list p {
    color: #697286;
}
li.info-list-item {
    color:#2A3342;
    list-style: none;
    border-radius: 10px;
}
.list-header {
    padding: 15px 38px;
    border-radius: 10px;

    position: relative;
    z-index: 20;
}
.info-list-sub {
    padding: 15px 38px;
    background: #F5F5F5;
    position: relative;
    z-index: 10;
    transition: all 0.3s ease;
}

.info-list-sub {
    display: flex;
    flex-direction: column;
    gap:10px;
   
}
section.info-list-sec {
    padding-top: 50px;
}
.info-list-sub li {
    transition: all 0.3s ease;
}
.info-list-sub.hide {
    height: 0;
    padding: 0 38px;
    margin: 0;
}
