.rewievs-header {
    font-weight: 600;
    font-size: 52px;
    line-height: 105%;
    text-transform: uppercase;
    color: #374054;
    font-family: 'InvolveSB';
    display: flex;
}
.rewievs {
    padding-top: 100px;
}
.rewievs-item {
    background: #F2F3F6;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap:10px;
    max-width: 289px;
    width: 100%;
    padding: 20px;
    min-height: 160px;
}
.rewievs-list {
    margin-top: 92px;
    margin-bottom: 50px;
    display: flex;
    /* grid-template-columns: repeat(4, 1fr); */
    justify-content: space-between;
    gap:20px
}
.rewievs-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.like {
    transform: rotate(180deg);
}
.likes.active path {
    fill: #00E627;
}
.rewievs-item-body {
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.04em;
    color: #697286;
    font-family: 'InvolveMed';
}
.rewievs-name span {
    font-weight: 600;
    font-size: 16px;
    line-height: 105%;
    color: #374054;
    font-family: "InvolveMed";
}
.rewievs-name p {
    font-weight: 400;
font-size: 12px;
line-height: 105%;
letter-spacing: 0.02em;
color: #697286;
}
.banner {
    height: 480px;
}
.exchanger {
    background:#E6E1FF;
    width: 100%;
    height: 703px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.exchanger .exchanger-sub::after {
    content: "Обмен валют";
    font-size: 17px;
    line-height: 105%;
    letter-spacing: -0.02em;
    color: #374054;
    font-family: 'InvolveMed';
    text-wrap: nowrap;
}
.exchanger.thir .exchanger-sub::after {
    content: "Подтверждение";
}
.exchanger-body {
    width: 1216px;
    border-radius:20px;
    background: #fff;
    padding: 50px 40px;
}
.exchanger-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:83px;
}
.line-text {
    display: flex;
    align-items: center;
    gap:10px
}
.line-text span {
    font-weight: 700;
    font-size: 18px;
    line-height: 105%;
    color:#697286;
    font-family: 'InvolveB';
}
.line-text p {
    font-family: 'InvolveMed';
    font-weight: 500;
font-size: 12px;
line-height: 105%;
color:#374054;
width: 20px;
}
.fir .line-el:nth-child(1) .line-text * {
    color:#482BE7!important;
}
.fir .line-el:nth-child(1) .line-gap {
    background:#482BE7!important;
}
.fir .line-el:nth-child(1) svg rect {
    fill: #482BE7;
}



.sec .line-el:nth-child(1) .line-text *,
.sec .line-el:nth-child(2) .line-text * {
    color:#482BE7!important;
}
.sec .line-el:nth-child(1) .line-gap,
.sec .line-el:nth-child(2) .line-gap {
    background:#482BE7!important;
}
.sec .line-el:nth-child(1) svg rect,
.sec .line-el:nth-child(2) svg rect {
    fill: #482BE7;
}


.thir .line-el {
    display: none;
}

.exchanger-line {
    display: grid;
    grid-template-columns: 1fr 1fr 0fr;
    max-width: 829px;
    width: 100%;
}
.line-gap {
    width: 100%;
    height: 3px;
    background: #D7D7D7;
}
.line-img {
    width: 100%;
    
    display: flex;
    align-items: center;
}
.exchanger-sub {
    border-radius: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    background: #E9E5FF;
    padding: 10px 12px;
    width: 224px;
    gap:33px;
    
}
.exchanger-main {
    margin-top:70px;
    display: flex;
    flex-direction: column;
    gap:20px;
}
.exchanger-main h4 {
    font-size: 17px;
line-height: 105%;
color: #374054;
font-family: 'InvolveB';
}
.exchanger-cont {
    display: flex;
    gap: 20px;
    width: 100%;
}
.exchanger-out, .exchanger-in {
    width: 100%;
}
.fiat {
    display: flex;
    position: relative;
    width: 100%;
}
.exchanger-input {
    background: #F8F9FA;
    border:1px solid #D7E0F4;
    border-radius: 10px;
    padding: 16px 20px;
    width: 100%;
    outline: none;

    font-weight: 500;
    font-size: 17px;
    line-height: 105%;
    color: #374054;
    font-family: 'InvolveMed';
}
.exchanger-input::placeholder {
    font-weight: 400;
font-size: 17px;
line-height: 105%;
color: #afb8cc;
}
.fiat input::placeholder {
    color:#AFB8CC;
}
.fiat span {
    content: 'RUB';
    padding: 2px 5px;
    background: #E1DCFE;
    border-radius: 3px;
    position: absolute;
    font-family: 'InvolveMed';
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.exchanger-info {
    margin: 20px 0;
}
.exchanger-mix-button {
    background: #697286;
    border:none;
    width: 186px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    cursor: pointer;
}
.dropdown-btn {
    width: 100%;
    background: #E9EAEB;
    border:none;
    border-radius: 10px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dropdown-btn span {
    display: flex;
    align-items: center;
    gap:10px;
}
.dropdown-btn span img {
    width: 18px;
    height: 18px;
}
.dropdown-list {
    width: 100%;
}
.dropdown-item {
    width: 100%;
    
}


/**/
.dropdown {
    position: relative;
    width: 100%;
}
.dropdown-btn {
    width: 100%;
    padding: 16px 20px;
    box-sizing: border-box;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.dropdown-btn::before {
    content: '▼';
    font-size: 12px;
}
.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    filter: drop-shadow(-2px 4px 60px rgba(0, 0, 0, 0.25));
    border-radius: 8px;
    max-height: 0;
    overflow-y: hidden;
    background-color: white;
    z-index: 1000;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    opacity: 0;
}
.dropdown-content.show {
    display: block;
    max-height: 382px;
    opacity: 1;
    transition: max-height 0.3s ease-in, opacity 0.3s ease-in;
    padding: 0 10px;
    transform: translateY(3%);
}
.dropdown-search {
    width: 100%;
    padding: 0 10px 10px;
    box-sizing: border-box;
    border: none;
    border: 1px solid #E1E1E1;
    border-radius: 0;
    padding: 16px 50px;
    border-radius: 10px;
    outline: none;
}
.dropdown-filters,
.dropdown-coins {
    
    display: flex;
    gap: 10px;
    padding: 15px;
    flex-wrap: wrap;
}
.dropdown-filters button {
    background: #482BE7;
    color:#fff;
    font-size:17px;
    font-family: 'InvolveMed';
    padding: 10px 15px;
    cursor: pointer;
    border:none;
    border-radius: 4px;
    transition: background-color 0.3s;
}
.dropdown-filters button:hover {
    background-color: #f0f0f0;
}
.dropdown-list {
    max-height: 120px;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.dropdown-list li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
}
.dropdown-list li img {
    width: 18px;
    height: 18px;
}
.dropdown-list li:hover {
    background-color: #f0f0f0;
}
.info {
    display: flex;
    align-items: center;
    gap: 20px;
}
.dropdown-search-icon {
    position: absolute;
    left: 23px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #ccc;
}
.dropdown-search:focus,
.dropdown-search:active {
    border: 1px solid #E1E1E1;
}
.dropdown-search-container {
    position: relative;
}
.dropdown-list li {
    padding: 16px 20px;
}
.dropdown-list::-webkit-scrollbar {
    width: 8px;
}
.dropdown-list::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
}
.dropdown-list::-webkit-scrollbar-thumb {
    background: #D9D9D9; 
    border-radius: 70px;
}
.exchanger.sec .info:last-child {
    padding: 8px 0;
}
.info div {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 3px;
}
.info div span {
    font-weight: 700;
    font-size: 15px;
    line-height: 105%;
    color: #374054;
    font-family: 'InvolveSB';
    text-wrap: none;
}
.info div p{
    line-height: 105%;
    text-wrap: none;
}
.info div.minmax {
    display: flex;
    gap:20px;
}
.exchanger-info {
    display: flex;
    width: 100%;
    gap: 226px;
}
.exchanger-left-cont,
.exchanger-right-cont {
    width:100%;
}
.exchanger-left-cont .info,
.exchanger-right-cont .info {
    padding: 8px 0;
}
.exchanger-down {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.exchanger-work {
    font-weight: 700;
font-size: 20px;
line-height: 105%;
color: #374054;
font-family: 'InvolveB';
display: flex;
align-items: center;
gap:10px;
}
.next-button {
    max-width:335px;
    border-radius: 10px;
    padding: 16px 20px;
    background: #482be7;
    color:#fff;
    font-weight: 500;
    font-size: 17px;
    line-height: 105%;
    font-family: 'InvolveMed';
    width:100%;
    border:none;
    justify-content: space-between;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.exchanger.fir .exchanger-second, .exchanger.fir .exchanger-third {
    display: none;
}
.exchanger.sec .exchanger-first, .exchanger.sec .exchanger-third {
    display: none;
}
.exchanger.thir .exchanger-first, .exchanger.thir  .exchanger-second {
    display: none;
}
.exchanger-values {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 455px));
    justify-content: space-between;
}
.exchanger-values-down {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 455px));
    gap: 226px;
    margin: 10px 0;
}
.exchanger-values__left-cont,
.exchanger-values__right-cont {
    gap:10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.rel-radio {
    opacity: 0;
    z-index: 0;
    position: absolute;
}
.radio-cus {
    width: 34px;
    height: 34px;
    background: #F5F5F5;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    min-width: 34px;
}
.radio-cus::after {
    content: ' ';
    position: absolute;
    width: 18px;
    height: 18px;
    background: #E1E1E1;
    border-radius: 50%;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    
}
.rel-radio:checked + .radio-cus::after {
    background: #482BE7;
}
.radio-button:focus + .radio-cus::after {
    background:#9F90EE;
}
.radio-button {
    display: flex;
    align-items: center;
    gap:10px;
}
.exchanger-sec__buttons {
    display: flex;
    gap:20px;
    justify-content: end;
    width: 55%;
}
.back-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #697286;
border-radius: 7px;
padding: 16px 20px;
width: 289px;
height: 50px;
background: #fff;
}
.back-button svg path {
    fill: #697286;
}
.back-button svg {
transform: rotate(180deg);
}
.exchanger__payment {
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    background: #f5f5f5;
    padding: 50px 63px;
}
.exchanger__line {
    height: 150px;
    width: 2px;
    background: #cdcdcd;;
}
.exchanger-thir__out,
.exchanger-thir__in {
    display: flex;
    flex-direction: column;
    gap: 67px;
}
.exchanger__payment-header {
    display: flex;
    gap:23px;
    align-items: center;
}
.sum {
    font-weight: 600;
    font-size: 37px;
    line-height: 105%;
    color: #374054;
    font-family: 'InvolveSB';
}
.coin {
    font-size: 20px;
line-height: 105%;
text-transform: uppercase;
color: #374054;
padding: 5px 7px;
background: #e1dcfe;
border-radius: 10px;
display: flex;
font-family: 'InvolveMed';
height: 32px;
}
.bank-thir {
    font-weight: 500;
font-size: 27px;
line-height: 105%;
color: #374054;
padding: 10px 20px;
border: 1px solid #d7d7d7;
background: #fefefe;
border-radius: 10px;
font-family: 'InvolveMed';
display: flex;
gap:10px;
width: auto;
}
.bank-thir img {
    width: 24px;
    aspect-ratio: 1/1;
}
.name,
.card {
    font-weight: 500;
font-size: 20px;
line-height: 130%;
color: #737c90;
font-family: 'InvolveMed';
}
.exchanger__payment-down {
    display: flex;
    flex-direction: column;
    gap:20px;
}
.exchanger-third {
    margin-top: 30px;
}
.exchanger-third .exchanger-sec__buttons {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
}
.back-button {
    font-weight: 500;
font-size: 17px;
line-height: 105%;
color: #697286;
font-family: 'InvolveMed';
}
.exchanger-in h4,
.exchanger-out h4 {
    margin-bottom: 20px;
}
.exchanger-mix-button {
    margin-top: 39px;
}
span.error-sec {
    display: flex;
    width: 100%;
    justify-content: end;
    color: #841818;
}
@media (max-width:1440px) {
    .exchanger {
        height: auto;
        padding: 65px 0;
    }
    .exchanger-body {
        width: 100%;
        padding: 50px 20px;
    }
    .fir .exchanger-down {
        flex-direction: row;
    }
    .exchanger__line {
        height: 2px;
        width: 100%;
        background: #cdcdcd;
    }
    .exchanger__payment {
        flex-direction: column;
        gap: 40px;
        padding: 30px 20px;
    }
    .exchanger-values {
        grid-template-columns: repeat(2, minmax(100px, 354px));
    }
}
@media (max-width: 1150px) {
    .banner {
        height: auto;
    }
    .banner__image {
        /* background-position: 100%; */
        background-size: 100%;
        width: 380px;
    }
    
}


@media (max-width:1024px) {
    .exchanger-values {
        grid-template-columns: repeat(2, minmax(100px, 354px));
    }
    .exchanger-mix-button {
        width: 50px;
    }
    .exchanger-cont {
        gap: 10px;
    }
    .rewievs-list {
        display: grid;
        grid-template-columns: repeat(2, 289px);
        justify-content: center;
    }
    .rewievs-header {
        justify-content: center;
    }
    .exchanger-values-down {
        display: flex;
        flex-direction: column;
        gap:26px;
    }
    .exchanger-body {
        padding: 50px 20px;
    }
    .exchanger-header {
        flex-direction: column;
        align-items: start;
        gap:10px;
    }
    .exchanger-down {
        flex-direction: column;
        gap:42px;
    }
    .exchanger-sec__buttons {
        width: 100%;
        justify-content: space-between;
    }
    .exchanger-line {
        max-width: none;
    }
    .line-gap {
        max-width: none;
    }
    .exchanger-line {
        grid-template-columns: 1fr 1fr 0fr;
    }
    .rewievs-header {
        font-size: 47px;
        margin: 0 auto;
        width: 200px;
    }
    .rewievs-header .purple {
        text-align: end;
    }
    .rewievs-header span:nth-child(1) {
        margin-right: -73px;
    }
}

@media (min-width:768px) {
    .line-el:nth-child(3) .line-text{
        margin-left: -100px;
    }
}
@media (max-width:800px) {
    .exchanger-thir__out,
    .exchanger-thir__in {
        gap: 20px;
    }
    .exchanger__payment-down {
        gap:10px;
    }
    .exchanger-header {
        align-items: center;
    }
    .exchanger-cont {
        flex-direction: column;
        align-items: center;
        gap:20px;
    }
    .exchanger.sec .info:last-child {
        margin-top: 40px;
    }
    .exchanger-out, .exchanger-in {
        width: 100%;
    }
    .exchanger-left-cont {
        display: flex;
        flex-direction: column;
        gap:16px;
    }
    .fir .exchanger-down {
        flex-direction: column;
        gap:20px;
    }
    .exchanger-left-cont, .exchanger-right-cont {
        width: 100%;
    }
    .exchanger-info {
        flex-direction: column;
        gap:16px
    }
    .exchanger-mix-button {
        width: 186px;
        margin-top: 0;
    }
    .bank-thir {
        font-size:22px;
    }
    .coin {
        font-size:18px;
    }
    .sum {
        font-size: 33px;
    }
    .name, .card {
        font-size: 18px;
    }
    .back-button,
    .next-button {
        width: 100%;
        max-width: none;
    }
    .exchanger__payment-header {
        flex-wrap: wrap;
    }
    .line-el:nth-child(3) .line-text *{
        text-align: end;
        display: flex;
        justify-content: end;
        align-items: end;
        margin-left: 7px;
    }
    .line-el:nth-child(2) .line-text * {
        text-align: center;
        display: flex;
        align-items: center;
        width: 74px;
        justify-content: center;
        margin-left: -25px;
    }
    .exchanger-line {
        margin-top: 20px;
    }
    .line-text {
        display: flex;
        gap: 5px;
        flex-direction: column;
        align-items: start;
    }
    .exchanger-values {
        display: flex;
        flex-direction: column;
        gap:50px;
    }
    .banner__image {
        /* background-position: 100%; */
        background-size: 100%;
        width: 320px;
    }
}
@media (max-width: 640px) {
    .exchanger-thir__out,
    .exchanger-thir__in {
        gap: 30px;
    }
    .exchanger__payment-header {
        row-gap:15px;
    }
    .exchanger-sec__buttons {
        flex-direction: column-reverse;
    }
    .rewievs-list {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .exchanger-input::placeholder {
        font-weight: 400;
        font-size: 15px;
        line-height: 105%;
        color: #afb8cc;
    }

    .banner__title {
        font-size: 34px;
    }
    .banner__image {
        background-size: 80%;
    }
}