.main__screen {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap:20px;
    max-width: 1216px;
}
p {
    line-height: 26px;
}
.main-title {
    color:var(--darkgray);
    font-size: 62px;
    font-family: 'InvolveSB';
    text-transform: uppercase;
    max-width: 977px;
    letter-spacing: 0;
}
.main__cover {
    margin-top: 38px;
    background-image: url('../assets/images/Rectangle\ 18.jpg');
    width: 100%;
    height: 640px;
    max-height: 640px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.new {
    display: flex;
    flex-direction: column;
    gap: 22px;
}
.news__content {
    width: 1010px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap:38px;
    padding-top:38px;
}
.news-title {
    font-family: 'InvolveSB';
    color:var(--darkgray);
    font-size:34px;
}

.news-body {
    font-size:16px;
    font-family: 'InvolveReg';
    color:var(--graylight)
}
.new-list {
    padding-left: 20px;
    margin: 10px 0;
}
.space {
    margin: 50px 0;
}
.article-img {
    width: 100%;
    object-fit: cover;
    height: 422px;
    border-radius: 6px;
} 
.avtor-body {
    font-family: 'InvolveSB';
    font-size:24px;
    color:var(--darkgray);
    text-wrap: wrap;
}
.new-avtor {
    min-height: 222px;
    border-left: 2px solid var(--greenlight);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    padding-left: 25px;
}
.avtor-name {
    color:var(--bluegray);
    font-size: 18px;
    font-family: 'InvolveMed';
}


@media (max-width:1440px) {
    .main-title {
        width: 977px;
    }
    .news__content {
        width: 804px;
        margin: 0 auto;
    }
}
@media (max-width:1250px) {
    .news-block__list {
        display: flex!important;
        flex-direction: column;
        gap: 19px;
        align-items: center;
    }
    .container {
        padding: 0 20px;
    }
    .header__list {
        gap: 15px;
    }
    .main-title {
        width: 100%;
    }
}
@media (max-width:850px) {
    .main-title {
        font-size:57px;
    }
    .news__content {
        width: 100%;
    }
    .main__cover-cont {
        padding: 0 20px;
    }
    .main__header {
        display: none;
    }
    main.main {
        margin-top: 120px;
    }
    .article-img {

        object-fit: fill;

    }
    .news-block__list li {
        width: 100%!important;
    }
}
@media (max-width:767px) {
    .main__cover {
        height: 293px;
        border-radius: 6px;
    }
    .avtor-body {
        font-family: 'InvolveSB';
        font-size: 21px;
    }
    .footer-container {
        flex-direction: column;
    }
    .footer-nav {
        text-align: center;
        flex-direction: column;
    }
    .footer-container:last-child {
        text-align: center;
        flex-direction: column-reverse;
        gap: 37px;
    }
    .footer-container .logo {
        margin-bottom: 52px;
    }
    .all-rewiev-content {
        justify-content: center!important;
    }
    main.main {
        margin-top: 50px;
    }
    .article-img {
        height: auto;
        aspect-ratio: 728/422;
    }
}